// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

html {
	position: relative;
  	min-height: 100%;
  	font-size: 1em;   
  	font-family: arial,helvetica;  	
}

body {
  	background: url(kitchengarden.jpg) no-repeat center 0 fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-size: 1em;   
  	font-family: arial,helvetica;
 }

 .logo {
 	position: absolute;
 	top: 0;
 	left: 0;
 	padding: 20px;
 	width: 200px;
 	height: auto;
 } 

.navbar-inverse {
	background-color: transparent;
	border-color: transparent; /*#FFAA00*/
	
}

.navbar-nav {
	
	padding-top: 20px;
	padding-right: 20px;

	li {
		font-style: bold;
		font-weight: bolder;
		font-size: medium;
	}

	li > a:link {
    	color: white;    	
	}
	
	li > a:visited {
        text-decoration: none;
		color: white;
	}
	
	li > a:hover {		
		color: white;
		text-decoration: none;
    	border-bottom: #FFAA00;
    	border-width: 0px 0px 1px 0px;
    	border-style: none none dotted none;
	}
}

#footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 30px;
  	padding: 5px;
  	text-align: center;
  	color: white;
  	background-color: transperant;
	opacity: 0.9;
	font-size: small;

	a:link {
    	color: white;
    	text-decoration: none;
	}
	
	a:visited {
        text-decoration: none;
		color: white;
	}
	
	a:hover {	
		color: white;
		text-decoration: none;
    	border-bottom: #FFAA00;
    	border-width: 0px 0px 1px 0px;
    	border-style: none none dotted none;
	}
}


