.blog-header
  //%h1.blog-title Food Database Platform API
  //%p.lead.blog-description Food Database Platform API.
.row
  .col-sm-8
    .blog-post
      %h2.blog-post-title Open Source
      %p.blog-post-meta
        August 30, 2014 by
        %a{:href => "#"} Abhijeet Koli
      %p
        The EFR Project is now an open source food database project. Project is a platform API for smart phone apps. Join contributors to build database and apps. 
      %p
        If you are new to Ruby on Rails projects, there are links at the sidebar to get started.
      %p
        %br
        Welcome!
        %br
        %br Abhijeet
        abhijeet.koli@theefrproject.com
  .col-sm-3.col-sm-offset-1
    .sidebar-module.sidebar-module-inset
      %a{:href => root_path}
        %img.logo{ :src => "/assets/logo.png" }      
    .sidebar-module.sidebar-module-inset      
      %ol.list-unstyled
        %li
          %a{:href => "https://github.com/abhijeetkoli/food-rails/archievs/master.zip"} Download
        %li
          %a{:href => "https://github.com/abhijeetkoli/food-rails/README.md"} Read Me
        %li
          %a{:href => "https://github.com/abhijeetkoli/food-rails/MIT-LICENSE.md"} License
    .sidebar-module.sidebar-module-inset
      %ol.list-unstyled
        %li
          %a{:href => "http://guides.rubyonrails.org/"} Ruby on Rails Guide
        %li
          %a{:href => "https://github.com/plataformatec/devise"} Devise
        %li
          %a{:href => "http://activeadmin.info"} Active Admin
        %li
          %a{:href => "http://coffeescript.org"} Coffee Script
        %li
          %a{:href => "http://sass-lang.com"} SASS
        %li
          %a{:href => "http://getbootstrap.com"} Bootstarp
        %li
          %a{:href => "http://haml.info"} HAML  
        %li
          %a{:href => "https://github.com/nesquena/rabl"} RABL
        %li
          %a{:href => "https://www.heroku.com"} Heroku
        %li
          %a{:href => "http://html2haml.heroku.com"} HTML to HAML
        %li
          %a{:href => "http://js2coffee.org"} JS to Coffee Script           
    .sidebar-module.sidebar-module-inset
      %ol.list-unstyled
        %li
          %a{:href => "https://github.com/abhijeetkoli/food-rails"} GitHub
        %li
          %a{:href => "https://facebook.com/theefrproject"} Facebook

.blog-footer
  %p
    Abhijeet Koli © 2014
    %a{:href => "https://facebook.com/theefrproject"}